body {
    margin: 0;
    padding: 0;
    background-color: black;
    overflow: hidden;
}

.movable-div {
    width: auto;
    height: auto;
    background-color: transparent;
    position: absolute;
    font-family: 'Raleway', sans-serif;
}

.construction-text {
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 0 10px; /* Aggiungi spazio ai lati del contenitore del testo */
}

.construction-text span {
    display: inline-block;
    transition: all 0.5s ease;
    margin-right: 5px;
}
